{# print.html.twig #}

{# @param resume Resume #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Print.html</title>
    </head>
    <body>
        <div class="header">
            <h1 class="header__name">{{ parameters.fullName }}</h1>
            <div class="header__contact">
                {{ parameters.emailAddress }}
            </div>
        </div>

        <hr>
        
        <div class="about">
            <h2 class="about__title">About</h2>
            <div class="about__content">
                {{ resume.about }}
            </div>
        </div>
        <hr>

        <div class="experiences">
            <h2 class="experiences__title">Experiences</h2>

            {% for experience in resume.experiences %}
                <div class="experience">
                    <div class="experience__head">
                        <div class="experience__name">
                            {{ experience.name }}
                        </div>
                        <div class="experience__company">
                            {{ experience.company }}
                        </div>
                        <div class="experience__year">
                            {{ experience.year }}
                        </div>
                    </div>
                    <div class="experience__description">
                        {{ experience.description }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>

        <div class="scholarship">
            
            <h2 class="scholarship__title">Scholarship</h2>

            {% for graduation in resume.graduations %}
                <div class="graduation">
                    <div class="graduation__head">
                        <div class="graduation__name">
                            {{ graduation.name }}
                        </div>
                        <div class="graduation__school">
                            {{ graduation.school }}
                        </div>
                        <div class="graduation__year">
                            {{ graduation.year }}
                        </div>
                    </div>   
                </div>
            {% endfor %}
        </div>

        <hr>
        <div class="projects">
            
            <h2 class="projects__title">Projects</h2>

            {% for project in resume.sideProjects %}
                <div class="project">
                    <div class="project__head">
                        <div class="project__name">
                            {{ project.name }}
                        </div>
                    </div>   
                    <div class="project__description">
                        {{ project.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>

