{# print.html.twig #}

{# @param resume Resume #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Print.html</title>
    </head>
    <body>
        <b>{{ resume.parameters.fullName }}</b>
        {{ resume.parameters.emailAddress }}

        <hr>
        <h2>Experiences</h2>

        {% for experience in resume.experiences %}
            <br></br>
            <b>{{ experience.name }}</b> - {{ experience.company }}/{{ experience.year }}
            <p>{{ experience.description }}</p>
        {% endfor %}

        <hr>
        <h2>Scholarship</h2>

        {% for graduation in resume.graduations %}
            <br></br>
            <b>{{ graduation.name }}</b> - {{ graduation.school }}/{{ graduation.year }}
            <p>{{ graduation.description }}</p>
        {% endfor %}

        <hr>
        <h2>Projects</h2>

        {% for project in resume.sideProjects %}
            <br></br>
            <b>{{ project.name }}</b> 
            <p>{{ project.description }}</p>
        {% endfor %}
    </body>
</html>

